<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="auth-body">

    <div class="auth-card">
        <h2>Create Account</h2>

        <form method="POST">
            <input type="text" name="username" placeholder="Choose a Username" required>
            <input type="email" name="email" placeholder="Enter your Email" required>
            <input type="password" name="password" placeholder="Choose a Password" required>
            <button type="submit">SIGN UP</button>
        </form>

        <p>
            Already have an account?
            <a href="{{ url_for('login') }}">Log in here</a>
        </p>
    </div>

    <footer>
        © 2026 Age & Gender Detection System
    </footer>

</body>
</html>
